$("#data_modal").html("<%= escape_javascript(render '/dashboard/vpd/reports/new')%>").modal();

$(".parsley-form").parsley("validate");

$("form#new_vpd_report").on("ajax:success", function(event, data, status, xhr) {
  $(".modal-body span.help-block").remove();

  if (data.success) { 
    $("#data_modal").modal("hide");

    $("#popup_modal_title").text(data.success.msg);
    $("#popup_modal_box .message").html("<p><%= @success_message_prefix %> Report <strong class='text_blue'>"+ data.success.name + "</strong> has been successfully added</p>");
    $("#popup_modal_box").modal("show");

    dt_table.fnDraw();
  } else {

    $(".spinner").remove();
    
    var element_id = data.failure.element_id;
    $("#"+ element_id).parent().parent().addClass("has-error");
    error = "<span class='help-block'><strong class='text_black'>"+ data.failure.msg + "</strong></span>";
    $("#"+ element_id).parent().append(error);
  }
});