.modal-dialog
  .modal-content
    = form_for(@invoice, url: dashboard_site_invoice_path, remote: true, html:{class: :"form-horizontal parsley-form edit-form"}) do |f|
      .modal-header
        %button.close{type: :"button", aria:{hidden: true}, data:{dismiss: :modal}} ×
        %h4.modal-title#data_title Change Status

      .modal-body
        .form-group
          = f.label :status, "New Status :", class: :"col-sm-4 control-label"
          .col-sm-6
            = f.select :status, options_for_select(@invoice_status, @invoice.status), {}, class: :"form-control input-sm"

      .modal-footer
        = button_tag(type: :submit, class: :"btn btn-primary") do
          Save
          %i.fa.fa-angle-double-right
        %button.btn.btn-default{type: :button, data:{dismiss: :modal}} Cancel