.row{style:"margin:0"}
  .col-md-6.col-md-offset-3
    %h2 Resend invitation email
    %p The invitation link you have used is invalid/expired.
    %p Please enter your email address to receive another link.
    
    .col-md-8.col-sm-12{style: "padding-left: 0;"}
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html:{method: :post, class: :"form-vertical parsley-form"}) do |f|
        / = f.error_notification
        / = f.full_error :confirmation_token

        / .form-inputs
        /   = f.label :email, "Email Address"

        .form-inputs{style: "margin-top:20px; margin-bottom:20px;"}
          = f.email_field :email, autofocus: true, placeholder: "Your email address", required: true, class: :"form-control input-lg"

        .form-actions
          = f.submit "Resend Invitation", class: :"btn btn-warning input-lg"
      / = render "devise/shared/links"


:javascript
  $(".parsley-form").parsley("validate");