%table{border:"0"}
  %tr
    %th Site_ID
    %th Site_Name
    %th Site_Country    
    %th Site_State
    %th Site_City     
    %th Site_Address
    %th Site_ZIP
    %th Site_Admin
    %th Trial_Associate
  %tr
    %th 1
    %th Example Hosp
    %th ARGENTINA    
    %th VICTORIA
    %th ARMADALE     
    %th 113 HIGH ST
    %th 3143
    %th sa1@latholdings.com
    %th a1@latholdings.com
