#main {
  .report-page {
    padding: 15px 30px;
    select {
      padding-left: 5px; 
      padding-right: 0px;
    }
    
    .btn-run-report {
      padding-left: 10px; 
      padding-right: 10px;
    } 
  }
}