%section.mainWrap
  .container
    .padTB20
      %h1 Authorization Required
      %p You are seeing this message because you are not logged in or your session has timed out due to inactivity
      %p Please register and/or log in if necessary.