- user = current_user
- site_editable = user.site_editable?(@site)
%section
  .container-fluid
    .row
      .col-md-12{style: "padding:0"}
        #overlay
          
        .card.card--padded.card--collapsible
          .card__header
            .card__header__content
              
              .row
                .col-lg-3.col-md-3.col-sm-3
                  .form-group
                    .input-group
                      %input.form-control{type: "text", id: "key", placeholder: "Keyword..."}
                        %span.input-group-btn
                          %button.btn.btn-default{type: "button", id: "btn_search"}
                            %i.fa.fa-search.fa-fw.dd-menu__icon

                .col-lg-9.col-md-9.col-sm-9
                  .payablebuttons
                    = link_to "Add User", new_dashboard_site_user_path(@site), remote: true, class: :"btn btn-primary sm-pull-right btn-add-modal", style: "width:150px;" if site_editable && !@site.site_user?(user)

          .collapse.in.card__collapse
            .card__content.card__content--unpadded{style: "padding:20px;"}
              .table-responsive
                %table#data_table.table.borderTB.footable{width:"100%", data:{source: dashboard_site_users_path(format: :json)}}
                  %thead.bg_gray
                    %tr
                      %th{style:"width:18%"} Name / ID
                      %th{style:"width:12%"} VPD
                      %th{style:"width:12%"} Trial
                      %th{style:"width:12%"} Site
                      %th{style:"width:12%"} Last Login
                      %th{style:"width:12%"} Invited
                      %th{style:"width:10%"} Role
                      %th{style:"width:12%"} Active
                  %tbody

              #page_description
              %a#show_option{href: "javascript://", style: "line-height:82px;"} Include disabled

/ Modal
- if site_editable
  #data_modal.modal.fade{role: :dialog, tabindex: "-1", aria:{hidden: true, labelledby: :data_title}}


:javascript 
  dt_table = $("#data_table").dataTable({
    sPaginationType: "simple",
    lengthMenu: [[15, 30, 50], [15, 30, 50]],
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    aoColumnDefs: [ { "bSortable": false, "aTargets": [1, 2, 3, 6, 7] } ],
    sAjaxSource: $('#data_table').data('source'),
    fnServerParams: function (aoData) {
      var show_option = $("#show_option").text();
      aoData.push({name: "show_option", value: show_option});
      aoData.push({name: "sSearch", value: $("#key").val()});
    },
    fnInfoCallback: function( oSettings, iStart, iEnd, iMax, iTotal, sPre ) {
      var res = iStart +" to "+ iEnd + " of " + iTotal;
      $("#page_description").html(res);
      return "";
    },
    fnRowCallback: function(nRow, aData, iDisplayIndex){
      var id = aData[aData.length-1];
      $(nRow).attr("id",id);
      return nRow;
    },oLanguage: {
      sEmptyTable:"No users registered",
      oPaginate: {
        sPrevious: "&larr; Prev",
        sNext: "Next &rarr;"
      }
    },
    fnDrawCallback: function(oSettings) {
      if ($("#page_description").siblings(".pager").size() > 0) {
        $("#page_description").siblings(".pager").remove();
      }
      $("#data_table_paginate ul").addClass("pager sm-pull-right").removeClass("pagination").insertBefore($("#page_description"));
    },
    responsive: true
  });
  
  $("#data_table").removeClass("no-footer");
  $("#data_table_filter").css("display", "none");
  $("#data_table_length label").css("display", "none")

  $("#data_table_wrapper").find("div.row").css("margin-left", "").css("margin-right", "");
  $("#data_table_wrapper").children(".row").css("margin-left", "0");
  $("#data_table_wrapper").children(".row").css("margin-right", "0");

  $("#show_option").click(function(){
    if ($(this).text() == "Include disabled"){
      $(this).text("Exclude disabled");
    }else{
      $(this).text("Include disabled");
    }    
    dt_table.fnDraw();
  });

  $("#btn_search").click(function(){
    dt_table.fnDraw();
  });

  $("#key").change(function(){
    dt_table.fnDraw();
  });

  function send_invite(url) {
    $.ajax({
      type: "POST",
      url: url   
    }).success(function(data) {
      $("#popup_modal_title").text("Send Invitation");
      $("#popup_modal_box .message").html("<p>"+ data.success.msg +"</p>");
      $("#popup_modal_box").modal("show");
    }).fail(function(data) {
      $("#popup_modal_title").text("Send Invitation");
      $("#popup_modal_box .message").html("<p>Sending invitation failed.</p>");
      $("#popup_modal_box").modal("show");
    });
  }