$(".spinner").remove();
$("#data_modal").modal("hide");

$("#popup_modal_title").text("Recon file processed");
$("#popup_modal_box .message").html("<p>Reconciliation file has been processed successfully</p>");
$("#popup_modal_box").modal("show");