%section
  .container-fluid
    .row
      .col-md-12
        #overlay
          
        .card.card--padded.card--collapsible
          .card__header
            .card__header__content
              
              .row
                .col-lg-3.col-md-3.col-sm-3
                  .form-group
                    .input-group
                      %input.form-control{type: "text", id: "key", placeholder: "Keyword..."}
                        %span.input-group-btn
                          %button.btn.btn-default{type: "button", id: "btn_search"}
                            %i.fa.fa-search.fa-fw.dd-menu__icon

          .collapse.in.card__collapse
            .card__content.card__content--unpadded{style: "padding:20px;"}
              .table-responsive
                %table#data_table.table.borderTB.footable{width:"100%", data:{source: dashboard_vpd_currencies_path(format: :json)}}
                  %thead.bg_gray
                    %tr
                      %th{style:"width: 10%"} Code
                      %th{style:"width: 10%"} Symbol
                      %th{style:"width: 20%"} Exchange Rate
                      %th{style:"width: 40%"} Description
                      %th{style:"width: 10%"} #Sites
                      %th{style:"width: 10%"} Active
                  %tbody

              #page_description
              %a#show_option{href: "javascript://", style: "line-height:82px;"} Include disabled

/ Modal
#data_modal.modal.fade{role: :dialog, tabindex: "-1", aria:{hidden: true, labelledby: :data_title}}


:javascript
  dt_table = $("#data_table").dataTable({
    sPaginationType: "simple",
    lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]],
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    aoColumnDefs: [ { "bSortable": false, "aTargets": [1, 3, 5] } ],
    sAjaxSource: $('#data_table').data('source'),
    fnServerParams: function (aoData) {
      var show_option = $("#show_option").text();
      aoData.push({name: "show_option", value: show_option});
      aoData.push({name: "sSearch", value: $("#key").val()});
    },
    fnInfoCallback: function( oSettings, iStart, iEnd, iMax, iTotal, sPre ) {
      var res = iStart +" to "+ iEnd + " of " + iTotal;
      $("#page_description").html(res);
      return "";
    },
    fnRowCallback: function(nRow, aData, iDisplayIndex){
      var id = aData[aData.length-1];
      $(nRow).attr("id",id);
      return nRow;
    }, oLanguage: {
      sEmptyTable:"No currencies registered",
      oPaginate: {
        sPrevious: "&larr; Prev",
        sNext: "Next &rarr;"
      }
    },
    fnDrawCallback: function(oSettings) {
      if ($("#page_description").siblings(".pager").size() > 0) {
        $("#page_description").siblings(".pager").remove();
      }
      $("#data_table_paginate ul").addClass("pager sm-pull-right").removeClass("pagination").insertBefore($("#page_description"));
    },
    responsive: true
  });

  $("#data_table").removeClass("no-footer");
  $("#data_table_filter").css("display", "none");
  $("#data_table_length label").css("display", "none");

  $("#data_table_wrapper").find("div.row").css("margin-left", "").css("margin-right", "");
  $("#data_table_wrapper").children(".row").css("margin-left", "0");
  $("#data_table_wrapper").children(".row").css("margin-right", "0");
  
  $("#show_option").click(function() {
    if ($(this).text() == "Include disabled") {
      $(this).text("Exclude disabled");
    } else {
      $(this).text("Include disabled");
    }    
    dt_table.fnDraw();
  });

  $("#btn_search").click(function(){
    dt_table.fnDraw();
  });

  $("#key").change(function(){
    dt_table.fnDraw();
  });  