$("#data_modal").html("<%= escape_javascript(render '/dashboard/site/transactions/new_withholding')%>").modal()

$(".parsley-form").parsley("validate")

$("form#new_transaction").submit(function() {
  var amount = $("#transaction_withholding").val()
  if (amount == 0) {
    $("#data_modal").modal("hide")
    return false
  } else {
    return true
  }
})

$("form#new_transaction").on("ajax:success", function(event, data, status, xhr) {
  $(".modal-body span.help-block").remove()

  if (data.success) { 
    $("#data_modal").modal("hide")
    $("#nav__menu li>a[href='#statement']").trigger("click")
    $(".modal-backdrop.fade.in").remove()
    $("#popup_modal_title").text(data.success.title)
    $("#popup_modal_box .message").html("<p>A <strong class='text_blue'>"+ data.success.msg +"</strong> has been successfully added</p>")
    $("#popup_modal_box").modal("show")
  } else {
    $(".spinner").remove()
    
    var element_id = data.failure.element_id
    $("#"+ element_id).parent().parent().addClass("has-error")
    error = "<span class='help-block'><strong class='text_black'>"+ data.failure.msg + "</strong></span>"
    $("#"+ element_id).parent().append(error)
  }
})